* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  border-bottom: 1px solid #f1f2f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav a {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
}

/* Home Page */

.gallery {
  width: 95%;
  margin: 40px auto;
  columns: 5 340px;
  gap: 10px;
}

.gallery img {
  cursor: pointer;
  box-shadow: 0 5px 20px #b6cdf3;
  margin-bottom: 15px;
}

/* Photo Page */
.photo_container {
  width: 80%;
  height: 90%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Modal */

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 99;
}

.modal.light {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Auth Page */

.auth_container {
  width: 100%;
  max-width: 500px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.auth_containerv h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.auth_container form label {
  display: block;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-top: 20px;
}

.auth_container form input {
  width: 100%;
  height: 45px;
  border: 1px solid #222;
}
